reference_code/*
reference_data/*
test_data/*
test_results*/*
__pycache__/
*.py[cod]
tmp/*
.tmp
tests/*
!tests/data/
tests/data/*
!tests/data/e2e_reference/
sumtraits.egg-info
memray*
*.log
build
.vscode
.nextflow*
dag*
trace*
work/*
tmp*
