process {
    executor = 'slurm'
    maxRetries = 1
    errorStrategy = { task.attempt < 3 ? 'retry' : 'ignore' }

    withName: sumtraits {
        label = 'process_low'
        cpus   = 1
        memory = { 8.GB * task.attempt }
        time   = { 1.days * task.attempt }
        container = "mahdirobbani/sumtraits:0.1.0"
    }
}

docker {
    enabled = true
}

params {
    taxonomic_profile           = null
    taxonomic_profile_type      = null
    taxonomy_type               = null
    output_dir                  = null
    sumtraits_reference_data_dir = null
    exclude_prediction_based    = null
    verbose                     = null
}
